.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-gap: 20px;  */
    height: auto;
    background-color: #222429;
    /* margin-bottom: 20px; */


}

/* Media Queries for responsiveness */

@media screen and (max-width: 1000px) {
    .card-container{        
        /* border: 2px solid green; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0;
        align-items: center;
        margin: auto 10px;
        
        
        
    }
    
}