.card-container {
    border: 2px solid #222429;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    height: auto;
    background-color: #222429;
}

.show-more {
    display: none;
}

/* Media Queries for responsiveness */

@media screen and (max-width: 950px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        background-color: #222429;
    }
}