.guarantee-container{
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  /*border: 2px solid red;*/


  img{
    max-width: 250px;
  }
}

.gtext{
  text-align: center;
  span{
    color: goldenrod;
  }
}

@media (min-width: 321px) and (max-width: 580px){
  .guarantee-container{
    flex-direction: column-reverse;
  }
}

@media (max-width: 321px){
  .guarantee-container{
    flex-direction: column-reverse;
    line-height: 20px;

    img{
      max-width: 200px;
    }
  }
}