.header-container {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  padding-bottom: 5px;
  /* border: 2px solid green;  */
  position: fixed;
  z-index: 1000;
  /* backface-visibility: hidden; */
  background-color: black;
  overflow: hidden;
  font-size: 14px;
}

.header-container .menu {
  display: flex;
  justify-content: center;
  flex: 1;
  /* border: 2px solid red; */
  margin: 10px auto;
}

.logo-container {
  a {
    display: flex;
    margin: auto;
    gap: 5px;
  }
}

.sign-in{
  display: none;
}

.investor {
  transition: 0.5s ease;
}

.investor:hover {
  color: #dd9104;
}

a {
  margin: 12px;
  color: white;
  transition: 0.5s ease;
  cursor: pointer;
  /* padding: 20px auto; */
}

a:hover {
  color: #dd9104;
}

.logo {
  width: 45px;
  /* border: 2px solid red; */
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.2);
}

button {
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  /* background: linear-gradient(#dd9104 0%, #000000 100%); */
  transition: 0.1s ease-in-out;
  background-color: #dd9104;
}

button:hover {
  /* background: linear-gradient(#000000 0%, #dd9104 100%); */
  background-color: black;
  border: 1px solid;
  border-color: #dd9104;
}

.open,
.close {
  /* display: none; */
  /* border: 2px solid green; */
}

.active-link {
  color: #dd9104;
}

.nav-links {
  display: none;
}

@media screen and (max-width: 700px) {
  .header-container {
    background-color: black;
    width: 100%;
  }

  .investor{
    font-size: 20px;
  }

  .sign-in{
    display: block;
    margin: auto 10px;
  }

  .logo-container {
    font-size: 12px;
  }

  .logo {
    width: 25px;
  }

  .menu-links {
    display: none;
  }

  .wallet-btn {
    display: none;
  }

  .menu-icon {
    display: inline-block; /* Show buttons in mobile mode */
    width: 30px;
    height: 30px;
  }

  .nav-links.show{
    margin-top: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 230px;
    gap: 20px;
    background-color: gray;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    font-size: 23px;
  }


  .hidden {
    display: none;
  }

  .close{
    margin: auto 90px;
    height: 27px;
  }

  .primary{
    margin-top: 150px;
    font-size: smaller;
  }

  div.menu-container{
    /* background-color: green; */
  }
}

@media (max-width: 321px){
    .investor{
        margin: auto;
        font-size: medium;
    }
    .sign-in{
        display: none;
    }
}

@media (max-width: 230px){
  .investor{
    display: none;
  }
}