.header-container {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  padding-bottom: 5px;
  /* border: 2px solid green;  */
  position: fixed;
  z-index: 1000;
  /* backface-visibility: hidden; */
  background-color: black;
  overflow: hidden;
  font-size: 14px;
}

.header-container .menu {
  display: flex;
  justify-content: center;
  flex: 1;
  /* border: 2px solid red; */
  margin: 10px auto;
}

.logo-container {
  a {
    display: flex;
    margin: auto;
    gap: 5px;
  }
}

.investor {
  transition: 0.5s ease;
}

.investor:hover {
  color: #dd9104;
}

a {
  margin: 12px;
  color: white;
  transition: 0.5s ease;
  cursor: pointer;
  /* padding: 20px auto; */
}

a:hover {
  color: #dd9104;
}

.logo {
  width: 45px;
  /* border: 2px solid red; */
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.2);
}

button {
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  /* background: linear-gradient(#dd9104 0%, #000000 100%); */
  transition: 0.1s ease-in-out;
  background-color: #dd9104;
}

button:hover {
  /* background: linear-gradient(#000000 0%, #dd9104 100%); */
  background-color: black;
  border: 1px solid;
  border-color: #dd9104;
}

.open,
.close {
  /* display: none; */
  /* border: 2px solid green; */
}

.active-link {
  color: #dd9104;
}

.nav-links{
  display: none;
}

@media screen and (max-width: 425px) {
  .header-container {
    /* background-color: blue; */
    width: 100%;
  }

  .logo-container {
    font-size: smaller;
  }

  .logo {
    width: 30px;
  }
/*  */
  .menu-links {
    display: none;
  }

  .wallet-btn {
    display: none;
  }

  .qmenu {
    width: 30px;
    height: 30px;
  }

  .menu-icon.open {
    display: inline-block; /* Show buttons in mobile mode */
  }

  .nav-links.show {
    display: block; /* Show the menu when it's open */
  }

  .hidden {
    display: none; /* Class to hide elements */
  }


}