.hero-section-container {
  height: 100vh;
  line-height: 38px;
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(../assets/bg/hero.jpg);
  
  margin-top: 50px;
}

.hero-info-wrapper {
  margin: 70px 50px;
  /* position: relative; */
  /* left: 40px; */
  /* border: 2px solid red; */
}

.gif-container {
  display: flex;
  width: 400px;
  margin-left: 100px;
}

.gif-container img {
  width: 350px;
  height: auto;
  margin: auto;
}

.get-started {
  margin-left: 500px;
  width: 180px;
}

.highlighted {
  background: linear-gradient(#dd9104 0%, #000000 100%);
  border-radius: 5px;
  padding: 0 10px;
}

/* Media Queries for responsiveness */

/* Tablet screen (768px and below) */
@media (max-width: 425px) {
  .hero-section-container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url(../assets/bg/bg-1.jpg);
    margin-top: 50px;
    justify-content: center; 
    
    
    
  }
  .highlighted {
    color:#ffb120;
    border-radius: 5px;
    padding: 0 10px;
    background: fixed;
  }
  
  .hero-info-wrapper{

    h1{
      text-align: center;
    }
    /* height: 100vh;   */
    border: 2px solid;
    border-image: linear-gradient(#dd9104 0%, #7c7c7c 100%) 1;
    border-radius: 10px;
    line-height: 30px;
    margin: 35px 20px;
    padding: 15px;
    position: relative;
    top: -20px;
  }
  
  .hero-info-description{
    /* border: 2px solid green; */
    font-size: small;
    text-align: center;

  }
  
  .gif-container{
    margin: auto;
    /* border: 2px solid green; */
    width:auto;
    position: relative;
    top: -50px;
    /* padding: 0; */
    /* margin-bottom: 170px; */
    

    img{
      width: 200px;
      /* margin-top: 30px; */
    }
  }

  .get-started{
    margin: auto;
    /* display: flex; */
    margin-bottom: 30px;
    position: relative;
    top: -45px;
    left: 100px;

  }








}
