
.hero-section-container {
    line-height: 38px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /*height: 100vh;*/
}

.hero-info-wrapper {
    display: flex;
    /*border: 2px solid;*/
    flex-direction: column;
    margin: 100px 50px;
    min-width: 200px;
    flex-basis: 500px;

}

.gnb-div {
    display: flex;
}

.gif-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gif-container > img, .get-started {
    max-width: 250px;
}

div > .get-started {
    display: flex;
    justify-content: center;
    width: 180px;
    margin-bottom: 10px;
}

.highlighted {
    color: goldenrod;
    border-radius: 5px;
    padding: 0 10px;
}

@media (max-width: 850px) {
    .gif-container {
        margin-top: -100px;
    }
}

@media (max-width: 428px) {
    .hero-info-wrapper {
        font-size: smaller;
        line-height: 25px;
        text-align: center;
    }

    .gif-container > img, .get-started {
        max-width: 150px;
    }
}

@media (max-width: 376px){
    .hero-section-container{
        h1 {
            line-height: 22px;
            text-align: center;
        }
    }

}


@media (max-width: 321px) {
    .hero-info-wrapper {
        line-height: 20px;
    }
}