.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px; /* Add some gap between cards */
    height: auto;
}

/* Media Queries for responsiveness */

/* @media screen and (max-width: 425px) {
    .plans-container{
        
        border: 2px solid green;
        
    }
    
} */