.card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* border: 2px solid blue; */
    height: auto;
    background-image: url(../assets/bg/bg-5.jpg);
    /* background-color: black; */
    
    
    
   

    @media screen and (max-width: 625px){
        .card-container{
            display: flex;
            flex-direction: column;
        

        }
        
    }


}