body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: 'Arial', 'Helvetica Neue', 'Roboto', 'Times New Roman', 'Georgia', 'Verdana', 'Tahoma', sans-serif;
  /* font-family: 'Roboto', 'Poppins', 'Inter', 'Nunito', 'Lato', 'Open Sans', sans-serif;  */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
